extends layout

block content
    main.d-flex.flex-column.justify-content-center.align-items-center
        div.container.text-center
            h1= message
            h2= error.status
            button.btn.btn-outline-dark.mt-4#go-back Go Back
