extends layout

block menu_home
    a.nav-link.active(href="/") Home
block content
    main.d-flex.flex-column.justify-content-center.align-items-center
        div.container.text-center
            h1=page
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit molestias ab rerum molestiae incidunt sit qui placeat. Dolor, est? Nulla voluptates, quasi aperiam doloribus suscipit consequuntur hic rem eveniet architecto? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, velit quis. Mollitia sequi rerum, rem quod consequuntur tempora non impedit quo quasi cupiditate odit quaerat architecto, maiores quisquam, repudiandae reiciendis?
