<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        title=title

        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheets/style.css")

    body
        .container-fluid.px-0

            include navbar

            block content
        script(src="javascripts/vendor/jquery-3.3.1.min.js")
        script(src="javascripts/vendor/bootstrap.min.js")
        script(src="javascripts/main.js")