extends layout

block menu_login
    a.nav-link.active(href="/singup") Login
block content
    main.d-flex.flex-column.align-items-center.pt-5
        div.container
            
            div.card.m-auto
                div.card-body
                    h5.card-title Login
                    
                    form(action="/login" method="POST")
                        div.form-group
                            label(for="email-input") Email
                            input#email-input.form-control(type="email" name="email")
                        div.form-group
                            label(for="pass-input") Password
                            input#pass-input.form-control(type="password" name="pass")
                        button(type="submit").btn.btn-block.btn-outline-dark Login